name: Tests
on:
  push:
    branches:
      - master
      - main
      - "release/*"
  pull_request:
permissions:
  contents: read

jobs:
  unit:
    name: Unit
    runs-on: 'ubuntu-22.04'
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: 'go.mod'            
      - run: go version
      - run: go mod download # Not required, used to segregate module download vs test times
      - run: make test
