name: Tests
on:
  push:
    branches:
      - master
      - main
      - "release/*"
  pull_request:
permissions:
  contents: read

jobs:
  unit:
    name: Unit
    runs-on: 'ubuntu-22.04'
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'            
      - run: go version
      - run: go mod download # Not required, used to segregate module download vs test times
      - run: make test
