name: Tests
on:
  push:
    branches:
      - master
      - main
      - "release/*"
  pull_request:
permissions:
  contents: read

jobs:
  unit:
    name: Unit
    runs-on: 'ubuntu-22.04'
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'            
      - run: go version
      - run: go mod download # Not required, used to segregate module download vs test times
      - run: make test
